.container {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoContainer {
  width: 850px;
  color: #455560;

  max-width: 850px;
  padding: 2rem;
  box-shadow: 0 0 15px rgba(0 0 0 / 8%);
  background-color: #ffffff;
  border-radius: 25px;
  border-style: none;
}

.infoContainer h1 {
  font-size: 2.5rem;

  margin-bottom: 1.5rem;
}

.infoContainer h2 {
  font-size: 2rem;
  margin-bottom: 0.6rem;
}

.infoContainer div > h3 {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.infoContainer div > p {
  color: #349eff;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}